{% extends "intro.html" %}
{% block conten %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<div class="header">
     <div class="header-text">
    <h1 class="warm">Welcome to Eschool</h1>
    <h1 class="head">Learn Online, Anytime, Anywhere</h1>
    <p class="mhead">Empower your mind with interactive courses and expert<br> guidance.Eschool brings knowledge to your screen.<br>click <a class="cla" href="/register">register</a> to start exploring our courses</p>
</div>
<img src="/static/gemin1.png" alt="header image">
</div>
<div class="par">
 <div class="wrapper">
        <form action="">
            <div>
            <h1>Login</h1>
            <i class='bx  bx-user'></i>  
            </div>
            <div class="input-box">
            <i class='bx  bx-lock'></i> 
            </div>
            <div class="remember-forgot">
            <a href="#">Forgot password?</a>
            </div>
        </form>     
</div>
{% endblock %}